<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS -->
        <!-- https://cdnjs.com/libraries/twitter-bootstrap/5.0.0-beta1 -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css"/>

        <!-- Icons: https://getbootstrap.com/docs/5.0/extend/icons/ -->
        <!-- https://cdnjs.com/libraries/font-awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/public/css/main.css"/>

        <!-- Animation AOS CSS -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

        <title>CHAPTER 02</title>
    </head>

    <body>
         <!-- NavBar -->
         <header>
            <nav class="navbar fixed-top navbar-expand-md bg-body-tertiary bg-dark shadow" data-aos="fade-down" data-aos-duration="500">
                <div class="container px-3">
                    <!-- NavBar Logo -->
                    <a class="navbar-brand me-5" href="/">
                        <img src="/public/img/navbar.png" alt="Logo" class="" id="nav-logo">
                    </a>
                    <!-- End NavBar Logo -->

                    <!-- NavBar Toggle -->
                    <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span><i class="fas fa-bars"></i></span>
                    </button>
                    <!-- End NavBar Toggle -->

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!-- Left Side -->
                        <ul class="navbar-nav me-auto mt-2 mt-lg-0 mb-2 mb-lg-0">
                            <li class="nav-item me-5">
                                <a class="nav-link" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item me-5">
                                <a class="nav-link active" href="/add-project">Add Project</a>
                            </li>
                        </ul>
                        <!-- End Left Side -->

                        <!-- Right Side -->
                        <a class="btn btn-outline-light btn-sm px-3 py-1" href="/contact-me" role="button">Contact Me</a>
                        <!-- End Right Side -->

                    </div>
                </div>
            </nav>
        </header>
        <!-- End NavBar -->

        <!-- Content -->
        <section class="home d-flex justify-content-center align-items-center" data-aos="fade-down" data-aos-duration="500">
            <div class="container-fluid home-upper">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <!-- Title -->
                    <div class="text-center">
                        <h1>ADD MY PROJECT</h1>
                    </div>                
                    <!-- End Title -->

                    <!-- Alert -->
                    <div class="" id="alert" role="alert"></div>               
                    <!-- End Alert -->

                    <!-- Form -->
                    <div class="col-12 col-md-8 col-lg-5 mt-4">
                        <form action="/add-card" method="POST">
                            <!-- Project Name -->
                            <div class="form-group mb-4">
                                <label for="pName">Project Name</label>
                                <input type="text" class="form-control shadow" name="pName" id="pName" required>
                            </div>

                            <!-- Date -->
                            <div class="date d-flex flex-row mb-4">
                                <div class="form-group">
                                    <label for="sDate">Start Date</label>
                                    <input type="date" class="form-control shadow" name="sDate" id="sDate" class="form-control" required>
                                </div>

                                <div class="form-group">
                                    <label for="eDate">End Date</label>
                                    <input type="date" class="form-control shadow" name="eDate" id="eDate" class="form-control" required>
                                </div>
                            </div>

                            <!-- Description -->
                            <div class="form-group mb-4">
                                <label for="description">Description</label>
                                <textarea id="description" name="description" class="form-control shadow" required></textarea>
                            </div>

                            <!-- Technologies -->
                            <div class="form-group mb-4">
                                <label for="checkbox">Technologies</label>
                                <div class="d-flex flex-row flex-wrap mt-3">
                                    <div class="form-check col-6">
                                        <input type="checkbox" class="form-check-input" name="tech" value="php">
                                        <label class="form-check-label">PHP</label>
                                    </div>

                                    <div class="form-check col-6">
                                        <input type="checkbox" class="form-check-input" name="tech" value="js-square">
                                        <label class="form-check-label">Javascript</label>
                                    </div>

                                    <div class="form-check col-6">
                                        <input type="checkbox" class="form-check-input" name="tech" value="python">
                                        <label class="form-check-label">Python</label>
                                    </div>

                                    <div class="form-check col-6">
                                        <input type="checkbox" class="form-check-input" name="tech" value="html5">
                                        <label class="form-check-label">HTML</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Upload Image -->
                            <div class="form-group mb-4">
                                <label for="file" class="form-label">Upload Image</label>
                                <div class="input-group shadow">
                                    <label class="input-group-text" for="file">Choose</label>
                                    <input class="form-control" accept="image/*" type="file" id="file" value="sd">
                                    <span class="input-group-text file"><i class="fas fa-paperclip"></i></span>
                                </div>
                            </div>

                            <!-- Submit Button -->
                            <div class="form-group mt-5 d-flex justify-content-end align-items-center">
                                <div class="button-group col-3 text-center">
                                    <button type="submit" name="add" id="add" class="btn btn-outline-light btn-sm contact w-100">Submit</button>
                                </div>
                            </div>
                            <!-- End Submiy Button -->
                        </form>
                    </div>
                    <!-- End Form -->
                </div>
                
            </div>
        </section>
        <!-- End Content -->

        

        <!-- Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"></script>

        <!-- Animation AOS JS -->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

        <!-- Main JS -->
        <script src="/public/js/main.js"></script>
        
    </body>
</html>
